<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <style>
    body {
      background-image: url('/static/pages/image/posters/bg.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .form{
      width: 40%;
      position: absolute;
      left : 30%;
      top: 9%;
      /*background-color: rgb(255, 211, 205);*/
      padding: 100px;
      padding-top: 20px;
      /*box-shadow: 5px 5px 2px 2px gray;*/
      /*border-radius: 5%;*/
    }
  </style>

</head>
<body> 
  {% load static %}

  <form class="form" method="POST" action="/auth/login_test">
    {% csrf_token %}
    <div style="padding-bottom: 50px;">
      <center>
      <img src="/static/pages/image/posters/logo.png" alt="logo" height="100px" >
      </center>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="id" class="form-control" name="id" id="id" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>

    <span style="color:white;">
      {{result}}
    </span>

    <center>
      <button type="submit" class="btn btn-success">sign in</button>
    </center>

    <hr width=90%>
    <div class="form-group">
      <a href="/auth/signup" style="text-decoration: none;">
        <p class="form-control">New Customer? <u>Register here</u> </p>
      </a>
    </div>  


  </form>

</body>
</html>